<!DOCTYPE html>
<html>
    <head>
        <title>Edgar's Page</title>
        <meta charset = "utf-8">
        <link rel = "stylesheet" type = "text/css" href = "styles.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <style>
          body{
    background-color: #19194C;
    height: 100%;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    margin-top: 60px;
    margin-left: 60px;
}

h5, h4, h3,h1,p,li{
    color:white;
}

h4{
    margin-top: -15px;
}

h3{
    margin-top: -15px;
}

a{
    color: green;
}

a:hover{
    color: red;
    font-style: bold;
    font-size: 34px;
}

#rubyimg{
    float:left;
    height:400px;
    width: 400px;
}

#nodeimg{
    float:right;
     height:400px;
     width: 400px;
}

#nodeimg:hover{
    opacity: 0.5;
}

#imgcontainer{
    margin: 100px auto;
    width: 850px;
    background-color: black;
    
}

#rubyimg:hover{
    opacity: 0.5;
}
          
        </style>
    </head>
    <body>
        <div id = "container">
            <h3>About page</h3>
            <p>Software/Web developer who knows how to code in 
            <ul>
              <li>Ruby / Ruby on rails</li>
              <li>Node.js</li>
              <li>Java</li>
              <li>Javascript</li>
              <li>SQL</li>
            </ul></p>
        </div>
        <%= link_to 'Home', root_path %>
    </body>
</html>